h2 Register
.row
  .col-xs-6
    form(role='form', nonvalidate name='userForm')
      .form-group
        label(for='email') Email
        input.form-control#email(type='email', name='email', ng-model='user.email', autofocus, required)
      .form-group
        label(for='password') Password
        input.form-control#password(type='password', name='password', ng-model='user.password', required, ng-minlength=3)
      button.btn.btn-primary(type='submit', ng-click='register()' ) Register
  .col-xs-6
